@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cor1: #000000;
    --cor2: #642A00;
    --cor3: #AA5403;
    --cor4: #E68A0F;
    --cor5: #E6A318;
    --cor6: #FFFFFF;
    --cor7: #1D1D1D;
    

}

header {
    background-color: var(--cor1);
    color: var(--cor6);
    text-align: center;
}

header > h1 {
    font-family: "Bevan", serif;
    font-style: bold;
    font-size: 3em;
}

header > h2 {
    font-family: "Montserrat", sans-serif;
    color: var(--cor4);
    padding: 0px 10px 10px 10px;
}

nav ul {
    background-color: var(--cor7);
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 10px;
}