@charset "UTF-8";

:root {
    --cor1: #000000;
    --cor2: #642A00;
    --cor3: #AA5403;
    --cor4: #E68A0F;
    --cor5: #E6A318;
    --cor6: #FFFFFF;
    --cor7: #1D1D1D;

    --fonte-padrao: "Segoe UI", sans-serif;
    --fonte-destaque: "Bevan", serif;
    --fonte-intermediaria: "Montserrat", sans-serif;
}


* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fonte-padrao);
}


body, html {
    background-color: var(--cor5);
}

/* CABEÇALHO E NAVEGAÇÃO */

header {
    background-color: var(--cor1);
    color: var(--cor6);
    text-align: center;
    border-radius: 30px;
    box-shadow: 5px solid black;
    width: 97vw;
    margin: auto;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-style: bold;
    font-size: 3em;
}

header > h2 {
    font-family: var(--fonte-intermediaria);
    color: var(--cor4);
    padding: 0px 10px 10px 20px;
}

nav a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;

}

nav > a#navegacao:hover {
    background-color: var(--cor5);
    color: var(--cor2);
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    transform: translate(-3px, -3px);
    transition: transform 0.2s, border 0s;
    
}

/* PRINCIPAL */

main {
    background-color: var(--cor6);
    text-align: justify;
    border-radius: 20px;
    box-shadow: 5px solid black;
    width: 97vw;
    margin: auto;
    
}